# File name for compiled binary (user dependent, just the name I use)
rng

# Build artifacts
build/
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll
*.dylib
*.pch

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Other stuff
.vscode/
